In [1]:
# Importing Requied Libraries
import pandas as pd
import numpy as np

# Igpnore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('heart_v2.csv')

In [3]:
df.head()

   age  sex   BP  cholestrol  heart disease
0   70    1  130         322              1
1   67    0  115         564              0
2   57    1  124         261              1
3   64    1  128         263              0
4   74    0  120         269              0